
<button mat-flat-button color="accent" (click)="openDialog(); activateForm();" [hidden]="hiddenValue">Login</button>
<button mat-flat-button color="warn" (click)="logOut();" [hidden]="logged">LogOut</button>
<ng-template #dialog >
  <h2 mat-dialog-title >Hola de nuevo!</h2>
  <mat-dialog-content>
        <form class="row" style="align-items: center;"> 
                <mat-form-field>
                    <input type="text" matInput name="user" [(ngModel)]="login.id" placeholder="user" class="form-control" autofocus  [hidden]="flagForm" required="true">
                </mat-form-field>
                <mat-form-field>
                    <input type="password" matInput name="password" [(ngModel)]="login.pass" placeholder="password" class="form-control"  [hidden]="flagForm" required="true">
                </mat-form-field>
           <p class="text-danger" [hidden]="incorrect">USER OR PASSWORD INCORRECT</p>    
        </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-flat-button color="accent" (click)="sendForm(login.id)">Login</button>
    <button mat-button (click)="closeDialog()">Cancelar</button>
  </mat-dialog-actions>
</ng-template>
