<div class="gridHome">

    <div style="max-height: 250px; ;" class="center-cropped background">
      <img src="assets/img/banner.png" class="card-img-top" alt="..." style="max-width: 100%; object-fit: cover;" >
    </div>
      
      <div class="card-body information">
          <div class="container-fluid" style="align-items: center; text-align: center;">
            <div class="bioDiv">
              <div class="bio"> <app-bio ></app-bio></div>
             <div  class="contacto"> <app-contacto class="contacto"></app-contacto></div>
            </div>
      </div>
    </div>
  
    <div class="card About-me" style="margin-top: 5px; max-width: 100vw;">
      <div class="card-body">
        <div class="container text-center">
          <div class="row">
            <div class="col">
              <h4 class="card-text ">Acerca De</h4>
              <p>¡Hola! Soy Santiago. Tengo 21 años. Soy una persona entusiasta, orientada a resultados y con una gran capacidad de trabajo en equipo. Poseo habilidades de comunicación efectiva, adaptabilidad y resolución de problemas, lo que me permite enfrentar desafíos y alcanzar objetivos de manera eficiente. Además, soy una persona proactiva y comprometida con el logro de metas, siempre buscando nuevas oportunidades de aprendizaje y desarrollo profesional. Con mi experiencia y habilidades, estoy seguro de poder hacer una contribución valiosa a cualquier equipo de trabajo.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    

    <app-game-list class="educacion" style="margin-top: 10px;"></app-game-list>
    <mat-divider></mat-divider>
    <app-conocimientos class="conocimientos" style="margin-top: 10px;"></app-conocimientos>
    <mat-divider></mat-divider>
    <app-proyectos class="proyectos" style="margin-top: 10px;"></app-proyectos>
    <mat-divider style="margin-top: 5px;"></mat-divider>
    <app-footer class="footer"></app-footer>
    
  </div>
  