<div class="text-center p-3" color="primary">
  <section >
    <!-- Enlaces -->
    <div style="display: inline-block;">
      <a
      mat-icon-button color="warn" 
        href="https://www.linkedin.com/in/santiago-gea/"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="bi bi-linkedin"></i
      ></a>
      <a
      mat-icon-button color="warn" 
        href="https://github.com/Fixbound/"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="bi bi-github"></i
      ></a>
        © 2023 Copyright:
        <a class="text-dark" href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa">#ArgentinaPrograma4.0</a>

    </div>
  </section>
</div>