@media(max-width:550px){
    .divClass{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "titleClass" 
        "loginClass";
        align-items: center;
        margin-top: 10px;
        justify-content: center;
    }
    
}

.example-spacer {
    flex: 1 1 auto;
  }